<h1>Editing loc impact</h1>

<%= render "form", loc_impact: @loc_impact %>

<br>

<div>
  <%= link_to "Show this loc impact", @loc_impact %> |
  <%= link_to "Back to loc impacts", loc_impacts_path %>
</div>
