<h1>Editing agent size</h1>

<%= render "form", agent_size: @agent_size %>

<br>

<div>
  <%= link_to "Show this agent size", @agent_size %> |
  <%= link_to "Back to agent sizes", agent_sizes_path %>
</div>
