<h1>Editing reputation damage impact</h1>

<%= render "form", reputation_damage_impact: @reputation_damage_impact %>

<br>

<div>
  <%= link_to "Show this reputation damage impact", @reputation_damage_impact %> |
  <%= link_to "Back to reputation damage impacts", reputation_damage_impacts_path %>
</div>
