<h1>Editing agent motive</h1>

<%= render "form", agent_motive: @agent_motive %>

<br>

<div>
  <%= link_to "Show this agent motive", @agent_motive %> |
  <%= link_to "Back to agent motives", agent_motives_path %>
</div>
