<h1>Editing loac impact</h1>

<%= render "form", loac_impact: @loac_impact %>

<br>

<div>
  <%= link_to "Show this loac impact", @loac_impact %> |
  <%= link_to "Back to loac impacts", loac_impacts_path %>
</div>
