<div id="<%= dom_id non_compliance_impact %>">
  <p>
    <strong>Name:</strong>
    <%= non_compliance_impact.name %>
  </p>

  <p>
    <strong>Score:</strong>
    <%= non_compliance_impact.score %>
  </p>

</div>
