<h1>Editing non compliance impact</h1>

<%= render "form", non_compliance_impact: @non_compliance_impact %>

<br>

<div>
  <%= link_to "Show this non compliance impact", @non_compliance_impact %> |
  <%= link_to "Back to non compliance impacts", non_compliance_impacts_path %>
</div>
