<h1>Editing vulnerability</h1>

<%= render "form", vulnerability: @vulnerability %>

<br>

<div>
  <%= link_to "Show this vulnerability", @vulnerability %> |
  <%= link_to "Back to vulnerabilities", vulnerabilities_path %>
</div>
