<h1>Editing loav impact</h1>

<%= render "form", loav_impact: @loav_impact %>

<br>

<div>
  <%= link_to "Show this loav impact", @loav_impact %> |
  <%= link_to "Back to loav impacts", loav_impacts_path %>
</div>
