<div id="<%= dom_id privacy_violation_impact %>">
  <p>
    <strong>Name:</strong>
    <%= privacy_violation_impact.name %>
  </p>

  <p>
    <strong>Score:</strong>
    <%= privacy_violation_impact.score %>
  </p>

</div>
