<h1>Editing privacy violation impact</h1>

<%= render "form", privacy_violation_impact: @privacy_violation_impact %>

<br>

<div>
  <%= link_to "Show this privacy violation impact", @privacy_violation_impact %> |
  <%= link_to "Back to privacy violation impacts", privacy_violation_impacts_path %>
</div>
