<h1>Editing loi impact</h1>

<%= render "form", loi_impact: @loi_impact %>

<br>

<div>
  <%= link_to "Show this loi impact", @loi_impact %> |
  <%= link_to "Back to loi impacts", loi_impacts_path %>
</div>
