<h1>Editing agent skill</h1>

<%= render "form", agent_skill: @agent_skill %>

<br>

<div>
  <%= link_to "Show this agent skill", @agent_skill %> |
  <%= link_to "Back to agent skills", agent_skills_path %>
</div>
