<div id="<%= dom_id agent_opportunity %>">
  <p>
    <strong>Name:</strong>
    <%= agent_opportunity.name %>
  </p>

  <p>
    <strong>Score:</strong>
    <%= agent_opportunity.score %>
  </p>

</div>
