<h1>Editing agent opportunity</h1>

<%= render "form", agent_opportunity: @agent_opportunity %>

<br>

<div>
  <%= link_to "Show this agent opportunity", @agent_opportunity %> |
  <%= link_to "Back to agent opportunities", agent_opportunities_path %>
</div>
