<div id="<%= dom_id financial_damage_impact %>">
  <p>
    <strong>Name:</strong>
    <%= financial_damage_impact.name %>
  </p>

  <p>
    <strong>Score:</strong>
    <%= financial_damage_impact.score %>
  </p>

</div>
