<h1>Editing financial damage impact</h1>

<%= render "form", financial_damage_impact: @financial_damage_impact %>

<br>

<div>
  <%= link_to "Show this financial damage impact", @financial_damage_impact %> |
  <%= link_to "Back to financial damage impacts", financial_damage_impacts_path %>
</div>
